
/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* activites coures caption  */
  .carousel-caption {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    margin-bottom: 300px;
    /* border: solid rgb(179, 36, 36); */
  }
  /* activivies image */
  .featurette img {
    flex: 0 0 auto;
   height: auto;
   width:550px ;
    border-radius: 6px;
  }
  /* activies page heading */
  .featurette-heading {
    font-size: 2rem;
    margin-bottom: .5rem;
  }
     /* activies page paragraph */
  .featurette-lead {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    /* text-align: left; */
  }
  /* activies page ol  */
  .featurette p {
    margin-bottom: .75rem;
    text-align: left;
  }
  
  .tick-icon {
    color: green;
    margin-right: 1rem;
    text-align: left;
  }
  
  /* Order for Different Screen Sizes */
  @media (max-width: 768px) {
    .featurette {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  /* CARDS */ /* last coures css */
  .offers {
    background-color: #dddddd;
    padding: 50px 0;
    text-align: center;
  }
  
  .offers h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .offer-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .offer-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 20px;
    width: 23%;
    text-align: center;
  }
  
  .offer-card img {
    width: 60px;
    margin-bottom: 20px;
  }
  
  .offer-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .offer-card p {
    font-size: 1rem;
    color: #555;
  }
  
  @media (max-width: 768px) {
    .offer-cards {
        flex-direction: column;
    }
  
    .offer-card {
        width: 80%;
        margin: 10px auto;
    }
  }
  
  /* pelen? */
  * {
    font-family: sans-serif;
  }
  
  .navContainer {
    background-color: #1C4E80;
  }
  
  #navigation {
    background-color: #1C4E80;
    
  }
  
  .nav-link {
    font-size: 16px;
    color: white;
  }
  
  .btn {
    background-color: #D1884F;
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
  
  
  /* CARDS */
  .offers {
    background-color: #dddddd;
    padding: 50px 0;
    text-align: center;
  }
  
  .offers h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .offer-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .offer-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 20px;
    width: 23%;
    text-align: center;
  }
  
  .offer-card img {
    width: 60px;
    margin-bottom: 20px;
  }
  
  .offer-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .offer-card p {
    font-size: 1rem;
    color: #555;
  }
  
  @media (max-width: 768px) {
    .offer-cards {
        flex-direction: column;
    }
  
    .offer-card {
        width: 80%;
        margin: 10px auto;
    }
  }
    
    /* Order for Different Screen Sizes */
    @media (max-width: 768px) {
      .featurette {
        flex-direction: column;
        align-items: flex-start;
      }
    }

  